
.flash_sale_2 {
    height: 40px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    justify-content: center;
    margin-top: 20px;
}
.flash_sale_2 ul{
        display: flex;
        align-items: center;
        gap: 15px;
}
.flash_sale_2 ul li{
    width: 26px;
    height: 26px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.flash_sale_2 ul li span {
    color: #95CA33 !important;
    font-size: 12px;
    line-height: 22px;
    z-index: 9;
}

.flash_sale_2 ul li::before{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #fff;
    transform: rotate(45deg);
}
.flash_section_page{
    margin: 50px 0px;
}